nuxeo-dm/src/main/resources/schemas/emrm/emrm_entidad_actividad.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="es">XSD EMrm aplicables a
			la ENTIDAD Actividad.
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="emrm_comunes.xsd" />
	
	<xsd:element name="Permisos" type="xsd:string" />
	<xsd:element name="TextoAdvertencia" type="xsd:string" />
	<xsd:element name="SensibilidadDatosCaracterPersonal" type="xsd:string" />

</xsd:schema>